<!-- Application Modal -->
<div id="applicationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Оставить заявку</h3>
            <span class="close" onclick="closeApplicationModal()">&times;</span>
        </div>
        <form id="serviceApplicationForm" class="modal-form" method="post" action="javascript:void(0)">
            {% csrf_token %}
            <div class="form-group">
                <label for="applicationPhone">Телефон *</label>
                {% include 'website/partials/phone_mask_fields.html' with base_id='applicationPhone' %}
            </div>
            <input type="hidden" name="service_type" value="">
            {% include 'website/partials/form_privacy_consent.html' with consent_id='consent_vent_application' %}
            <button type="submit" class="submit-btn">Отправить заявку</button>
        </form>
    </div>
</div>
